<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Boost SMS</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1 class="mt-5">Welcome to Boost SMS Console</h1>
      <a class="btn btn-primary mt-3" href="/register">Register now</a><br>
      <a class="btn btn-secondary mt-3" href="/login">Login</a>
      <div class="mt-4">
        <p>Contact us to upgrade to Premium version with full API and additional plans</p>
        <p>WhatsApp: +16167997429</p>
        <p>Discord: xingyujie#2550</p>
        <p>Facebook: <a href="https://www.facebook.com/xingyujie50">Edward</a></p>
        <p>Snapchat: <a href="https://www.snapchat.com/add/xingyujie50?share_id=XQ8dG5mh_CI&locale=en-US">Edward Hsing</a></p>
        <p>Instagram: yujie348</p>
        <p>Telegram: <a href="https://t.me/edward_hsing">@edward_hsing</a></p>
      </div>
    </div>
  </body>
</html>
