<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Registration Success</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1 class="mt-5">Registration Successful!</h1>
      <p>Your boost number is: {{ sunumber }}</p>
      <p>Please keep your boost number and password safe and do not disclose it to others.</p>
      <a class="btn btn-primary" href="/login">Login</a>
    </div>
  </body>
</html>
